@font-face {
    font-family: "Bold";
    src: url("/assets/fonts/theboldfont.ttf");
}

@font-face {
    font-family:"m06" ;
    src: url("/assets/fonts/m06.TTF");
}

body {
    margin:0;
    text-align: center;
}

h1 {
    font-family: "Bold";
    font-size: 15vw;
    margin-top: -3vw;
    margin-bottom: -3vw;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 240px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 64px;
    font-family: "m06";
}

test {
    background-image: url(/images/building.jpg);
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
}